html {
    background-color: black;
    color: white;
}

body {
    margin: 0px;
    font-family: "Open-Sans Regular";
}

@font-face {
    font-family: "Open-Sans Light";
    src: url("OpenSans-Light.ttf");
}
@font-face {
    font-family: "Open-Sans Regular";
    src: url("OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Font-Awesome Regular";
    src: url("fa-regular-400.ttf");
}

textarea {
    width: 95%;
    height: 150px;
    color: white;
    background-color: black;
    margin-bottom: 55px;
}

.ApplicationBar {
    display: table;
    background-color: #1f1f1f;
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.ApplicationBar .icons {
    display: table-cell;
    vertical-align: middle;
}

.ApplicationBar .icons input[type=button] {
    font-family: "Font-Awesome Regular";
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: white;
    border: 2px solid white;
    font-size: 18px;
    text-align: center;
    margin: 0px 15px;
}

.ApplicationBar .icons input[type=button]:hover {
    background-color: #3f3f3f;
}

.ApplicationBar .icons .hidden {
    display: none;
}

.ApplicationBar .icons .disabled {
    color: gray !important; 
    border-color: gray !important;
}

#notesList {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.noteItem {
    display: table-row;
}

    .noteItem .dataDiv {
        display: table-cell;
        width: 100%;
    }

    .noteItem .paddingDivLeft, .noteItem .paddingDivRight {
        display: table-cell;
        width: 15px;
    }

        .noteItem .paddingDivLeft:hover {
            background-color: green;
        }

        .noteItem .titleWrapper {
            overflow: hidden;
            position: relative;
        }

            .noteItem .titleWrapper .hidden {
                display: none;
            }

        .noteItem .checkboxDiv {
            display: block;
            position: absolute;
            margin-top: 10px;
        }

        .noteItem .titleWrapper div {
            width: 100%;
        }

            .noteItem .moveRight {
                margin-left: 30px;
            }

        .noteItem .dataDiv .titleDiv {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 22px;
            white-space: nowrap;
        }

        .noteItem .dataDiv .contentDiv {
            font-size: 14px;
            color: #9e9e9e;
        }

    .noteItem .dateCreated {
        text-align: right;
        display: table-cell;
        width: 50px;
    }