<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note24 - Note</title>
    <link rel="stylesheet" href="defaultStyle.css">
    <script src="../models/generalDataModel.js"></script>
    <link rel="manifest" href="../manifest.json">
  </head>
  <body>
    <div class="pageWrapper">
        <!--Page-->
        <!--
        TODO: Start with every function which are needed
        for this page to work properly
      
        Put a function event on loaded() function which will
        execute when the page is loaded
        Every page will have their own onloaded function
        They will all call loaded like loaded(pageLoaded)
        
        TODO: Create note folders, support drag&drop a note
        from a folder to another
        -->
        <div class="pageContent">
          <link rel="stylesheet" href="notePageStyle.css">
          <div class="content">
            <a href="#" id="backToNoteListButton" onclick="backToNoteListClicked(event)">
              &lt; Back to notes list</a>
            <div class="noteHeader">
              <input id="noteTitleDiv" type="text" value="${noteTitle}" placeholder="Note title..."/>
              <div class="noteInfo">
                <div id="dateLastModified">Note modified date</div>
                <div id="dateCreated" class="hidden">Note created date</div>
                <div>
                  <input type="button" value="More" class="hidden">
                  <input type="button" value="P" class="hidden">
                </div>
              </div>
            </div>
            <div id="noteContent" contentEditable="true">${noteContent}</div>
          </div>
        </div>
        <!--Page-->
        <div class="applicationBar">
          <div class="barMenuIcon" onclick="barMenuIconClicked()">
            <span>&#xf111;</span><span>&#xf111;</span><span>&#xf111;</span>
          </div>
            <div class="icons">
              <input type="button" id="saveNoteButton" value="&#xf0c7;" onclick="saveNoteClicked()"/>
              
              <input type="button" class="hidden" value="&#xf03e;"/>
              <!--
              <input type="button" id="addNoteButton" value="&#x2b;"/>
              <input type="button" value="&#xf005;"/>
              <input type="button" value="&#xf004;"/>
              <input type="button" value="&#xf14d;"/>
              -->
          </div>
          <div class="barMenu closed">
            <div>Settings</div>
            <div>About</div>
            <div>Log</div>
            <textarea id="logArea"></textarea>
          </div>
        </div>
    </div>

    <!--Workbench and Templates-->

    <!-- TODO: Implement these in a script file
    
    TODO: Sometimes functions are not called when the page is loaded-->
    <script>
      var noteId = "";
      var noteTitleInput = document.createElement("input");
      var noteContent = document.createElement("div");

      function fillNotePage2(noteData) {
        noteTitleInput = document.getElementById("noteTitleDiv");
        noteTitleInput.value = noteData[0].title;

        noteContent = document.getElementById("noteContent");
        noteContent.innerHTML = noteData[0].content;

        noteDateCreatedDiv = document.getElementById("dateLastModified");
        noteDateCreatedDiv.innerHTML = noteData[0].dateLastModified;
      }
      function saveNoteClicked2() {
        alert("Save success!");
      }
      function saveNoteClicked() {
        try {

        } catch (error) { alert(error); }
        var noteData = { title: noteTitleInput.value, content: noteContent.innerHTML};
        saveNote(noteId, noteData, saveNoteClicked2);
      }
      loaded(function() { 
        //Get noteId from the URL
        var allQueryParameters = "";
        noteId = "";
        if (document.location.search) {
          allQueryParameters = document.location.search;
          noteId = allQueryParameters.split("noteId=")[1].toString();
        }

        //Check if there are multiple parameters in the URL
        if (noteId.indexOf("&") > -1)
        {
            noteId = noteId.split("&")[0];
        }

        //Fill note page
        if (noteId.length > 0)
        {
          var noteIds = [ noteId ]
          getNoteArray(noteIds, fillNotePage2);
        }
        else {
          backToNoteListClicked(null);
        }
      });
    </script>
    <script async="async">
      async function startServiceWorker() {
          if ('serviceWorker' in navigator) {
              const registration = await navigator.serviceWorker.register("../service-worker.js");
              if (registration.installing) {
                  console.log("Service worker installing");
              } else if (registration.waiting) {
                  console.log("Service worker installed");
              } else if (registration.active) {
                  console.log("Service worker active");
              }
          }
      }
      startServiceWorker();
    </script>
    <script>
    </script>
    <script src="../controllers/notePageController.js"></script>
  </body>
</html>